<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QC_Toray_App_v3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QC_Toray_App_v3.Properties.Settings>
            <setting name="DatabaseConnectionString1" serializeAs="String">
                <value>Server=192.168.0.123\SQLEXPRESS; Database=test_app_db; User Id=sa; Password=1234;TrustServerCertificate=True;</value>
            </setting>
            <setting name="LotOverviewTableName" serializeAs="String">
                <value>Lot_Overview_Table</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value>192.168.0.123</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>7930</value>
            </setting>
            <setting name="DatabaseConnectionString2" serializeAs="String">
                <value>Server=192.168.0.123\SQLEXPRESS; Database=camera_inspection; User Id=sa; Password=1234;TrustServerCertificate=True;</value>
            </setting>
        </QC_Toray_App_v3.Properties.Settings>
    </userSettings>
</configuration>